
.header-menu-sidebar-inner li.menu-item-nav-search {
  display: none;
}

.container {
  max-width: 748px;
}

.has-neve-link-hover-color-color {
  color: #0366d6 !important;
}

.has-neve-link-color-color {
  color: #0366d6 !important;
}

.has-neve-text-color-color {
  color: #404248 !important;
}

.has-neve-button-color-color {
  color: #0366d6 !important;
}

.has-neve-link-color-background-color {
  background-color: #0366d6 !important;
}

.has-neve-link-hover-color-background-color {
  background-color: #0366d6 !important;
}

.has-neve-button-color-background-color {
  background-color: #0366d6 !important;
}

.has-neve-text-color-background-color {
  background-color: #404248 !important;
}

.alignfull > [class*="__inner-container"], .alignwide > [class*="__inner-container"] {
  max-width: 718px;
  margin: auto
}

.button.button-primary, button, input[type=button], .btn, input[type="submit"], /* Buttons in navigation */
ul[id^="nv-primary-navigation"] li.button.button-primary > a, .menu li.button.button-primary > a, .wp-block-button.is-style-primary .wp-block-button__link {
  background-color: #0366d6;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  border-width: 1px 1px 1px 1px;
}

.button.button-primary:hover, .nv-tags-list a:hover, ul[id^="nv-primary-navigation"] li.button.button-primary > a:hover, .menu li.button.button-primary > a:hover, .wp-block-button.is-style-primary .wp-block-button__link:hover {
  background-color: #0366d6;
  color: #ffffff;
}

.button.button-secondary, #comments input[type="submit"], #comments input[type=submit], .cart-off-canvas .button.nv-close-cart-sidebar, .wp-block-button.is-style-secondary .wp-block-button__link {
  color: #676767;
  border-radius: 3px;
  border: 1px solid;
  border-width: 1px 1px 1px 1px;
}

.button.button-secondary:hover, #comments input[type="submit"]:hover, .cart-off-canvas .button.nv-close-cart-sidebar:hover, .wp-block-button.is-style-secondary .wp-block-button__link:hover {
  color: #676767;
}

.nv-tags-list a:hover {
  background-color: #0366d6;
}

.nv-tags-list a {
  color: #0366d6;
  border-color: #0366d6;
}

body, .site-title {
  font-size: 15px;
  font-family: Quicksand;
}

h1, .single h1.entry-title {
  font-size: 1.5em;
  font-family: Quicksand;
}

h2 {
  font-size: 1.3em;
  font-family: Quicksand;
}

h3 {
  font-size: 1.1em;
  font-family: Quicksand;
}

h4 {
  font-size: 1em;
  font-family: Quicksand;
}

h5 {
  font-size: 0.75em;
  font-family: Quicksand;
}

h6 {
  font-size: 0.75em;
  font-family: Quicksand;
}

.header-main-inner, .header-main-inner a:not(.button), .header-main-inner .navbar-toggle {
  color: #ffffff;
}

.header-main-inner .nv-icon svg, .header-main-inner .nv-contact-list svg {
  fill: #ffffff;
}

.header-main-inner .icon-bar {
  background-color: #ffffff;
}

.hfg_header .header-main-inner .nav-ul .sub-menu {
  background-color: #0c1429;
}

.hfg_header .header-main-inner {
  background-color: #0c1429;
}

.header-menu-sidebar .header-menu-sidebar-bg, .header-menu-sidebar .header-menu-sidebar-bg a:not(.button), .header-menu-sidebar .header-menu-sidebar-bg .navbar-toggle {
  color: #404248;
}

.header-menu-sidebar .header-menu-sidebar-bg .nv-icon svg, .header-menu-sidebar .header-menu-sidebar-bg .nv-contact-list svg {
  fill: #404248;
}

.header-menu-sidebar .header-menu-sidebar-bg .icon-bar {
  background-color: #404248;
}

.hfg_header .header-menu-sidebar .header-menu-sidebar-bg .nav-ul .sub-menu {
  background-color: #ffffff;
}

.hfg_header .header-menu-sidebar .header-menu-sidebar-bg {
  background-color: #ffffff;
}

.builder-item--logo .site-logo img {
  max-width: 120px;
}

.builder-item--logo .site-logo {
  padding: 10px 0px 10px 0px;
}

.builder-item--logo {
  margin: 0px 0px 0px 0px;
}

.builder-item--nav-icon .navbar-toggle {
  padding: 10px 15px 10px 15px;
}

.builder-item--nav-icon {
  margin: 0px 0px 0px 0px;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul .has-caret > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul .neve-mm-heading span, .builder-item--primary-menu .nav-menu-primary > .nav-ul .has-caret {
  color: #ffffff;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item) > a:after, .builder-item--primary-menu .nav-menu-primary > .nav-ul li > .has-caret > a:after {
  background-color: #f6ba05;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:not(.woocommerce-mini-cart-item):hover > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li:hover > .has-caret > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li:hover > .has-caret {
  color: #f6ba05;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li:hover > .has-caret svg {
  fill: #f6ba05;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li.current-menu-item > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li.current_page_item > a, .builder-item--primary-menu .nav-menu-primary > .nav-ul li.current_page_item > .has-caret > a {
  color: #f9c301;
}

.builder-item--primary-menu .nav-menu-primary > .nav-ul li.current-menu-item > .has-caret svg {
  fill: #f9c301;
}

.builder-item--primary-menu .nav-ul > li:not(:last-of-type) {
  margin-right: 20px;
}

.builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart):hover > a:after {
  width: calc(100% + 20px);
}

.builder-item--primary-menu .nav-ul li a, .builder-item--primary-menu .neve-mm-heading span {
  min-height: 25px;
}

.builder-item--primary-menu {
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.builder-item--primary-menu svg {
  width: 1em;
  height: 1em;
}

.footer-bottom-inner {
  background-color: #24292e;
}

.footer-bottom-inner, .footer-bottom-inner a:not(.button), .footer-bottom-inner .navbar-toggle {
  color: #ffffff;
}

.footer-bottom-inner .nv-icon svg, .footer-bottom-inner .nv-contact-list svg {
  fill: #ffffff;
}

.footer-bottom-inner .icon-bar {
  background-color: #ffffff;
}

.footer-bottom-inner .nav-ul .sub-menu {
  background-color: #24292e;
}

.builder-item--footer_copyright {
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 500;
  text-transform: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.builder-item--footer_copyright svg {
  width: 1em;
  height: 1em;
}

@media (min-width: 576px) {
  .container {
    max-width: 992px;
  }

  body, .site-title {
    font-size: 16px;
  }

  h1, .single h1.entry-title {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.75em;
  }

  .builder-item--logo .site-logo img {
    max-width: 120px;
  }

  .builder-item--logo .site-logo {
    padding: 10px 0px 10px 0px;
  }

  .builder-item--logo {
    margin: 0px 0px 0px 0px;
  }

  .builder-item--nav-icon .navbar-toggle {
    padding: 10px 15px 10px 15px;
  }

  .builder-item--nav-icon {
    margin: 0px 0px 0px 0px;
  }

  .builder-item--primary-menu .nav-ul > li:not(:last-of-type) {
    margin-right: 20px;
  }

  .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart):hover > a:after {
    width: calc(100% + 20px);
  }

  .builder-item--primary-menu .nav-ul li a, .builder-item--primary-menu .neve-mm-heading span {
    min-height: 25px;
  }

  .builder-item--primary-menu {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .builder-item--primary-menu svg {
    width: 1em;
    height: 1em;
  }

  .builder-item--footer_copyright {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .builder-item--footer_copyright svg {
    width: 1em;
    height: 1em;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 1200px;
  }

  #content .container .col, #content .container-fluid .col {
    max-width: 75%;
  }

  .alignfull > [class*="__inner-container"], .alignwide > [class*="__inner-container"] {
    max-width: 870px
  }

  .container-fluid .alignfull > [class*="__inner-container"], .container-fluid .alignwide > [class*="__inner-container"] {
    max-width: calc(75% + 15px)
  }

  .nv-sidebar-wrap, .nv-sidebar-wrap.shop-sidebar {
    max-width: 25%;
  }

  body, .site-title {
    font-size: 17px;
  }

  h1, .single h1.entry-title {
    font-size: 65px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .header-main-inner {
    height: 75px;
  }

  .builder-item--logo .site-logo img {
    max-width: 80px;
  }

  .builder-item--logo .site-logo {
    padding: 10px 0px 10px 0px;
  }

  .builder-item--logo {
    margin: 0px 0px 0px 0px;
  }

  .builder-item--nav-icon .navbar-toggle {
    padding: 10px 15px 10px 15px;
  }

  .builder-item--nav-icon {
    margin: 0px 0px 0px 0px;
  }

  .builder-item--primary-menu .nav-ul > li:not(:last-of-type) {
    margin-right: 20px;
  }

  .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart) > a:after {
    left: -10px;
    right: -10px
  }

  .builder-item--primary-menu .style-full-height .nav-ul li:not(.menu-item-nav-search):not(.menu-item-nav-cart):hover > a:after {
    width: calc(100% + 20px);
  }

  .builder-item--primary-menu .nav-ul li a, .builder-item--primary-menu .neve-mm-heading span {
    min-height: 25px;
  }

  .builder-item--primary-menu {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .builder-item--primary-menu svg {
    width: 1em;
    height: 1em;
  }

  .builder-item--footer_copyright {
    font-size: 1em;
    line-height: 1.6em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }

  .builder-item--footer_copyright svg {
    width: 1em;
    height: 1em;
  }
}
