doctype html
html(lang="")
  include resource/head.html

  body(class="home page-template page-template-page-templates page-template-template-pagebuilder-full-width page-template-page-templatestemplate-pagebuilder-full-width-php page page-id-12 wp-custom-logo nv-sidebar-full-width menu_sidebar_dropdown elementor-default elementor-kit-221 elementor-page elementor-page-12"
    id="neve_body"
    data-elementor-device-mode="desktop")

    include resource/body.html
    <!-- TODO NTT lazy load video youtube -->
    script(src='./js/vendor/lazyload.min.js' defer="" ata-deferred="1")
    span
      id="elementor-device-mode"
      class="elementor-screen-only"
